/* FONTE */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");



body{
    background-color: var(--primary-color);
    text-align: center;
}

.topo-pagina{
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 110px;
  width:100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 30px;
  gap: 20px;
  background-color: var(--nav-bg-color);
}

.topo-pagina img{
  width: 8rem;
}

.nav-botoes{
  display: flex;
  gap: 27px;
  justify-content: center;
}

.nav-entrar, .nav-assine{
  font-family: Raleway;
  font-weight: 700; 
  letter-spacing: 2px;
  font-size: 0.75rem;
  position: relative;
  top: -2px;
 
}

.nav-entrar{
  border: none;
  background: none;
  font-size: 0.75rem;
  color: var(--text-color);
 
}

.nav-assine{
    width: 162px;
    height: 30px;
    border: none;
    border-radius: 500px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--tertiary-color);  
}

.nav-assine p{
  position: relative;
  top: -3px;
}

/*-------- HEADER ---------------------------------------------------------------------*/
header{
  background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e); 
  position: relative;
  top: -80px;
}

.header-logos{
  margin: auto;
  display: flex;
  margin-top: 128px;
  left: -8px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-titulo{
  flex-direction: column;
  font-family: raleway;
  color: white;
  padding-top: 15px;
  padding-bottom: 40px;
}


.header-titulo span{
  font-size: 2rem;
}

.header-titulo h1{
  font-size: 3rem;
  margin: 0;
}

.divider{
  width: 70%;
  max-width: 700px;
  flex-wrap: wrap;
  height: 5px;
  margin: auto;
  background: var(--divider-bg-color);
}

.header-assinaturas{
  padding-top: 15px;
  margin: 0;

  font-family: quicksand;
  color: white;
  font-size: 1.25rem;
}

.header-preco{
  margin: 0;

  font-family: raleway;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.header-preco span{
  font-weight: normal;
  font-size: 1rem;
}

.header-assine-agora{
  font-family: Raleway;
  font-weight: 700;
  color: white;
  letter-spacing: 4px;
  font-size: 16px;
  border: none;
  border-radius: 500px;
  padding: 16px 40px;
  background: var(--btn-bg-color-gradient);
  background-size: 250%;
  animation: wiggle 2.2s linear infinite;
}

@keyframes wiggle{
  0%, 10%{
    transform: rotate(0deg);
  } 
  15%{
    transform: rotate(-15deg);
  }
  20%{
    transform: rotate(10deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  30%{
    transform: rotate(10deg);
  }
  35%{
    transform: rotate(-10deg);
  }
  45%, 100%{
    transform: rotate(0deg);
  }
}

.header-texto{
  padding-top: 30px;
  color: white;
  font-family: raleway;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;    
}


.header-gradiente{
    background: linear-gradient(0deg, var(--primary-color), transparent); 
    color: #9b34ef;
    height: 250px;
    margin-left: -20px;
    margin-right: -20px;
}

/*-------------- MAIN -----------------------------------------*/

.main-conheca{
  color: white;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

.main-card{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-family: raleway;  
  align-items: center;
}

.card-1, .card-2{
  color: white;
  background: var(--card-bg-color);
  max-width: 100%;
  max-width: 600px;
  height: 600px;
  border-radius: 10px;
  padding-inline-start: 20px;
  padding-left: 5px;
}

.card-1 li::before, .card-2 li::before{
  content: "+";
  font-size: 2rem;
  padding-right: 10px;
}

.main-lista-mobile, .main-lista-multitelas{
  text-align: left;
  list-style: none;
  font-size: 1rem;
  padding-right: 20px;
}

.card-1 h3, .card-2 h3{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-1 p, .card-2 p{
  font-size: 1.5rem;
  font-weight: 700; 
  color: #ff00e5;
  margin-top: -25px;
}

.card-1 span, .card-2 span{
  font-size: 1rem;
  font-weight: 300; 
  color: white;
}

.main-card button{
  width: 80%;
  height: 64px;
  border: none;
  background: var(--btn-bg-color-gradient);
  background-size: 250%;
  border-radius: 500px;
  color: white;
  font-family: raleway;
  letter-spacing: 4px;
  padding: 16px 40px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  justify-content: center;
}

.card-1 button{
  position: relative;
  bottom: -110px;
}

.card-2 button{
  position: relative;
  bottom: -30px;
}

/* NOVOS UNIVERSOS */

.descubra{
  padding-top: 250px;
}

.descubra h4{
    color: white;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.tv-shows{
  display: grid;
  grid-template-columns: repeat(6, 100%);
  grid-auto-flow: column;
  overflow-x: scroll;
}

.descubra img{
  max-width: 90%;
}

/*-------------- FOOTER ------------------------*/

footer{
  padding-top: 120px;

}

footer li{
  font-family: raleway;
  color: var(--link-color);
  list-style: none;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 13px;
}

footer p{
  color: var(--link-color);
  font-family: Quicksand;
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -12px;
  padding-bottom: 70px;
}

.redes-sociais{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

/* ----------------------------------------------------- */

/* se for tela com mouse ira aplicar efeitos nos botoes */


@media (pointer:fine) and (min-width:481px){
  .tv-shows{
    overflow-x:hidden
  }

  .nav-assine:hover{
    color: black;
    transition: 2s;
  }

  header{
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e); 
    animation: gradient 10s ease infinite alternate;
    background-size: 400% 400%;
    position: relative;
    top: -80px;
  }
  
@keyframes gradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;   
      }
    100% {
    background-position: 10% 50%;   
    }
}


.header-assine-agora:hover{
  border: 2px solid #ff00e5;
  animation: gradient-botao 2.2s linear 1;
  animation-fill-mode:forwards;
} 

.card-1 button:hover, .card-2 button:hover{
  border: 2px solid #ff00e5;
  animation: gradient-botao 2.2s linear 1;
  animation-fill-mode:forwards;
}


@keyframes gradient-botao{
    0% {
      background-position: 0% 50%;
    }
    100% {
    background-position: 100% 50%;   
    }
}
}

@media screen and (max-width:481px){
header{
  position: relative;
  top: 13px;
}
}

@media screen and (min-width:481px){
/* -----------ANIMAÇÕES--------------------------- */ 

.main-lista-mobile, .main-lista-multitelas{
    font-size: 1.25rem;
}
.main-card button{
  font-size: 1rem;  
}

.main-card{
  perspective: 2000px;
  perspective-origin:top;
  font-size: 3rem;
}
  
/* .card-2:hover ~ .card-1{ 
  transform:  rotateY(-40deg);
  transition: transform 1s ease-in-out;
} 

 .card-1:hover ~ .card-2{ 
  transform:  rotateY(-40deg);
  transition: transform 1s ease-in-out;
}   */

.topo-pagina{
  height: 20px;
  flex-direction: row;
}

.topo-pagina img{
  width: 10rem;
  position: relative;
  top: -20px;
  left: 15px;
}

.nav-botoes{
  flex-grow: 1;
  position: relative;
  top: -10px;
  align-items: center;
  padding-right: 40px;
  justify-content: end;
}
/* --------------ANIMACOES------------------------ */

.series-HBO:hover{
  border: 2px solid #b535f6;
  padding: 0px;
  transform: scale(10px);
}

.series-Max:hover{
  border: 2px solid #b535f6;
  padding: 0px;
}

.series-DC:hover{
  border: 2px solid #b535f6;
  padding: 0px;
}

.series-WB:hover{
  border: 2px solid #b535f6;
  padding: 0px;
}

.series-CN:hover{
  border: 2px solid #b535f6;
  padding: 0px;
}

.series-UCL:hover{
  border: 2px solid #b535f6;
  padding: 0px;
}

/* -------------------------------------- */
.nav-entrar{
  font-size: 0.75rem;
}

.nav-assine{
  font-size: 0.75rem;
}  
.descubra{
  display: grid;
  justify-content: center;
}

.tv-shows{
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
  gap: 0px;
  padding-top: 70px;
}

.descubra img{
  flex-shrink: 1;
  padding: 0px;
  margin-top: -60px;
  padding-bottom: 70px;
 
}

footer{
  padding-top: 80px;
}

footer ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  position: relative;
  left: -15px;
  margin-left: -5px;
  margin-right: -5px;
}

footer li{
  padding-bottom: 0px;
}

}
/* ----------------------------------------------------- */
@media screen and (min-width:801px){
  
.descubra{
  display: grid;
  justify-content: center;
}

.tv-shows{
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) ;
  gap: 0px;
  padding-top: 70px;
}

.descubra img{
  flex-shrink: 1;
  padding: 0px;
  margin-top: -60px;
  padding-bottom: 70px;
}
}
/* ----------------------------------------------------- */
@media screen and (min-width:1141px){

.header-texto{
  display: flex;
  flex-direction: column;
}

.main-card{
  flex-direction: row; 
  justify-content: center;
}

.card-1 button{
  bottom: -130px;
}

}



/* CORES E SCROLL E FONTE */
:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;




/* SCROLL CUSTOMIZADO */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }
  ::webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

}
